body{
    background-color: black;
    text-align: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

h1{
    color: white;
    margin-bottom: 60px;
}

button {
    border: none;
    background-color: #004a9e;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 50px;
}

#textSize{
    padding-left: 10px;
    background-color: #004a9e;
    border: none;
    height: 27px;
    width: 90px;
    border-radius: 50px;
    color: white;
}

textarea{
    width: 100% !important;
    height: 200px !important;
    background-color: #004a9e;
    border: none !important;
    color: white;
    margin-top: 30px !important;
    border-radius: 20px !important;
    padding-left: 15px !important;
    padding-top: 10px !important;
}

button, input{
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 20px;
}

.color {
    margin-top: 0px;
    background-color: #004a9e;
    height: 30px;
    width: 100px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
}

#bg-text-color{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#bg-text-color > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#bg-text-color > div > h3{
    color: white;
}
